/* Common styles element */
html,body{
    font-family: "Inter", sans-serif;
    height: 100%;
    background-color: hsl(0, 0%, 8%);
}
.main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
}   
.container{
    background-color: hsl(0, 0%, 12%);
    
    width: 400px;
    height: auto;
}





































.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }